#toolbar{
    margin-top: 25px;
}
.table_row{
    margin-top: 25px;
}

input[type="checkbox"]{
    width: 20px;
    height: 20px;
}


.fydh{
    margin-top: 25px;
    margin-bottom: 25px;
}
#showNumbers{
    width: 110px;
    height: 40px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
}
.number_txt{
    margin-left: 15px;
    color:#808182;
    font-size: 12px;
}
.toPage a{
    width: 40px;
    height: 40px;
    font-size: 14px;
    line-height: 30px!important;
    color:#000000;
}
.toPage a:hover{
    border-color: #33b4ff!important;
}
.active_>a{
    background-color:#33b6ca!important;
    border-color: #33b6ca!important;
    color:#ffffff!important;
    height: 40px;
    width: 40px;
}
.active_>a:hover{
    background-color:#33b6ca!important;
    border-color: #33b6ca!important;
    color:#ffffff!important;

}
.pagination{
    margin-top: 0!important;
    margin-bottom: 0!important;
}
.pagination > li > a{
    width: 40px;
    height: 40px;
    line-height: 30px;
}
.gotoPage{
    width: 110px;
    height: 40px;
    border-radius: 5px;
    margin-left: 30px;
    background-color: #ffffff;
    line-height: 40px;
}
#pageNo{
    width: 40px;
    border: none;
    height: 20px;
}
#gotoPage{
    height: 40px;
}


.modal-header{
    background-color: #33b4ff;
    border:none!important;
    height: 50px;
}
.modal-title{
    color: #ffffff;
    font-size: 16px;
}
.fieldset{
    border: 1px solid #a8b3cd;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
}
.modal-content{
    border:1px solid #33b4ff;
    width: 682px;
    height:342px;
}
.modal_btn{
    background-color: #33b4ff;
    width: 100px;
    height: 40px;
    margin-right: 50px;
    color: #ffffff;
    font-size: 16px;
}
.modal_btn:hover{
    background-color: #2990cc;
    color: #ffffff;
}
.modal_btn:visited{
    background-color: #33b4ff;
    color: #ffffff;
}
.modal_btn:active {
    background-color: #33b4ff;
    color: #ffffff;
}
.modal_txt{
    height: 30px;
    width: 180px;
}
#syn_pl{
    margin-left: 30px;
}
#syn_type{
    margin-left: 5px;
}
.modal_txt2{
    margin-left: 20px;
    font-size: 14px;
}
.isMust{
    color: red;
}
.cd5{
    padding-right: 0;
}
.cd7{
    padding-left: 0;
    margin-left: -30px;

}
.cd6{
    padding-right: 30px;
    padding-left: 0;
    margin-bottom: 15px;
}
.modal_row{
    margin-top:20px;
    height: 30px;
}
.modal_row2{
    margin-top: 20px;
    margin-bottom: 30px;
}
.modal_txt{
    border:1px solid #cccccc;
    border-radius: 5px;
}
.longtxt{
    border:1px solid #cccccc;
    height: 30px;
    width: 82%;
    border-radius: 5px;
}
#database_url{
    border:1px solid #cccccc;
    height: 30px;
    width: 80%;
    border-radius: 5px;
    margin-left: 15px;
    margin-bottom: 20px;
}
#memo{
    border:1px solid #cccccc;
    height: 110px;
    width: 100%;
    border-radius: 5px;
    margin-left: 15px;
}
#yes,#no{
    margin-left: 30px;
}
.btn{
    border-radius: 5px;
}