body{
	background: #f1f1f1!important;
}
.menu_row{
	height: 70px;
	margin-top: 15px;
	
}
.menu_row_btn{
	background-color: #e0ebf0;
	margin-right: 15px;
}
#search_span{
	color: #cccccc;
	border: none;
	top: 0!important;
}
#search_text{
	border: none;
	height: auto!important;
}
#search_btn{
	border: none;
	border-left: 1px solid #cccccc;
	color:#47b4e8;
	cursor: pointer;
}
.left_tree_small{
	background: #ffffff;
	padding: 0!important;
}
.menu_title{
	color:#000000!important;
}
.treeview-menu2{
	background-color: #ffffff!important;
}
.active1{
	background-color:#e0ebf0 ;
}
.active2{
	background-color: #e0ebf0;
}
#main-sidebar2{
	padding: 0!important;
}
.text-warn{
	color: red;
}
.row_class{
	margin-bottom: 2em;
}
.modal-header{
	border: none;
	background-color: #199ed8;
	
}
.modal-title{
	color:#ffffff;
}
#bigclassname,#parentclassname,#smallclassname,#parentclassname2,#smallclassname2,#bigclassname2{
	height: 35px;
	border:1px solid #cccccc;
	border-radius: 5px;
}