@charset "UTF-8";

body {
    font-size: 12px;
    background-color: #f1f1f1!important;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

a:hover {
    text-decoration: none !important; }

a:visited {
    text-decoration: none !important; }

a:link {
    text-decoration: none !important; }

.row {
    margin-left: 0;
    margin-right: 0; }

.nav {
    height: 80px;
    background-color: #47b4e8;
    width: 100%; }

#index_title {
    color: #ffffff;
    height: 80px;
    vertical-align: middle;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 80px;
    padding-left: 15px; }

#index_tx {
    border-radius: 50% !important; }

#index_menu_btn {
    /*//40a2d0*/
    background-color: #47b4e8;
    border: none; }

#index_menu_btn:hover {
    background-color: #40a2d0; }

.list_menu {
    color: #47b4e8; }

#index_menu_btn_list {
    padding: 0 !important; }

.left_tree {
    background-color: #383e4c;
    padding-right: 0 !important;
    padding-left: 0 !important; }

.menu_list_ul {
    padding: 0 !important; }

.menu_list_ul span {
    color: #ffffff;
    font-size: 16px; }

.main-sidebar {
    background-color: #383e4c;
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-top: 0 !important;
    min-height: 800px !important; }

.treeview > a > i, .treeview > a > span, .treeview-menu > li > a, .treeview-menu > li > a > i {
    color: #ffffff; }

.treeview-menu > li > a {
    text-indent: 14px; }

.treeview-menu {
    background-color: #2a303e; }

.treeview-menu_active {
    background-color: #2a303e;
    background: url("../img/active.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%; }

.left_tree_list_title {
    font-size: 16px!important; }

.main-sidebar {
    width: 100% !important; }

/*content*/
#content {
    background: #f1f1f1;
    padding-right: 0; }

/**/
.no-padding-left-right {
    padding-left: 0 !important;
    padding-right: 0 !important; }

.btn {
    background-color: #47b4e8;
    color: #fff; }

.btn-default {
    background-color: #47b4e8 !important;
    color: #fff !important; }

/*细节CSS*/
.bootstrap-table .th-inner {
    /*表格第一行 #plcharge .modal-header h5*/
    font-weight: normal !important; }

#mymodal-data .modal-title, #plcharge .modal-header h5, #info-modal .modal-header, #park-add-modal .modal-header .modal-title {
    color: #fff !important; }

#mymodal-data .modal-header, #plcharge .modal-header, #park-add-modal .modal-header {
    background-color: #47b4e8 !important; }

#mymodal-data .modal-body .col-md-6 .col-md-5 {
    margin-top: 8px;
    position: relative; }

#park-add-modal .modal-body .col-md-6 .col-md-5 {
    position: relative; }

#mymodal-data .modal-body .col-md-6 .col-md-5 .text-red {
    position: absolute;
    top: 3px;
    width: 40%;
    left: 9px;
}

#park-add-modal .text-red {
    position: absolute;
    top: 3px;
    left: 12px; }

#park-add-modal .modal-body .col-md-6 {
    margin-bottom: 15px; }

#mymodal-data .add_menu {
    margin-bottom: 15px; }

#self_password {
    border-radius: 6px;
    margin-bottom: 15px; }

/*#self_password::selected{*/
/*box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);*/
/*}*/
#roles {
    border-radius: 6px; }

#plcharge .list-group-item.selected {
    color: #fff !important;
    background-color: #00b6e3 !important; }

#plcharge .list-group-item.selected > a > span {
    color: #fff !important; }

#plcharge .modal-body > .row > .col-md-7 > .col-md-6 > div, #plcharge .modal-body > .row > .col-md-4 > div {
    border: 1px solid #00acd6; }

#mymodal-data #memo {
    width: 87%;
    margin: 0 8%;
    min-height: 100px; }

#myModal [data-dismiss="modal"] {
    margin-top: 15px; }

/*#fieldset1 input{*/
/*border-radius: 6px;*/
/*border-color: #00acd6;*/
/*}*/
#readCard, #okBtn_Batch, #okBtn_One, #dismiss, #okBtn, #readCardBtn, #okNavigationBtn {
    margin-top: 15px; }

.no-margin-left-right {
    margin-left: 0 !important;
    margin-right: 0 !important; }

.padding-top {
    padding-top: 7px; }

/* 左侧 li 点击 样式*/
.treeview-menu.menu-open li.active {
    background: #fff !important; }
.treeview-menu.menu-open li.active a {
    background: #fff !important;
    color: #5bc0de !important; }

.treeview-menu.menu-open li.active a {
    color: #5bc0de !important; }

.list-group > .list-group-item {
    padding-left: 5px !important;
    font-size: 12px; }

.list-group > .list-group-item > .expand-icon {
    margin-right: 0 !important; }

#dept_tree .node-dept_tree, #tree .node-tree, #pos_device_tree .node-dept_tree {
    font-size: 10px;
    padding-left: 5px !important; }

#dept_tree .node-dept_tree .indent, #tree .node-tree .indent, #pos_device_tree .node-dept_tree .indent {
    margin-left: 0 !important;
    margin-right: 15px !important;
    width: 0 !important; }

#dept_tree .node-dept_tree .glyphicon, #tree .node-tree .glyphicon, #pos_device_tree .node-dept_tree {
    margin: 0 !important; }

#tree {
    margin: 0 !important;
    padding: 0 !important; }
#tree .list-group-item.node-tree {
    height: 39px;
    line-height: 34px; }

.panel-body {
    padding-left: 0 !important; }

#table td {
    word-break: keep-all;
    white-space: nowrap; }

.modal_p {
    margin-top: 7px; }

.modal-footer {
    border-top: 0px !important;
    padding-right: 40px !important; }
/**/
#content{
    min-height: 800px;
    background-image: url(/img/bg.jpg);
    background-size:cover;
}
/*# sourceMappingURL=index.css.map */
