<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iandtop.dao.CardChangeDAO">


    <insert id="saveByVO" parameterType="com.iandtop.model.card.CardChangeRecordModel">
        INSERT INTO card_change_record(pk_card, pk_staff,operator, card_code, staff_code, operation_type, operation_ts, cardcode_new, money_remain,old_serial_number,memo, def1, def2 , def3, def4, def5)
        VALUES (#{pk_card},#{pk_staff},#{operator},#{card_code},#{staff_code},#{operation_type},#{operation_ts},#{cardcode_new},#{money_remain},#{old_serial_number},#{memo},#{def1},#{def2},#{def3},#{def4},#{def5})
    </insert>


</mapper>